:root {
  --primary-color: #558db4;
  --secondary-color: #95b8d1;
  --tertiary-color: #b597f6;
  --light-text-color: #fbfbfb;
  --primary-bg-color: #1c1d23;
  --secondary-bg-color: #24262c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--primary-color);
}

*:focus-visible {
  outline-offset: 3px;
  outline: solid var(--secondary-color) 2px;
}

a:link,
a:visited {
  text-decoration: none;
}

button {
  border: none;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--light-text-color);
  position: relative;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

/* NAVIGATION */
nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.logo-container {
  position: absolute;
  top: 40%;
  left: 27.5px;
}

.nav-icon {
  background-color: transparent;
  margin: 15px 15px 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 90;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: var(--light-text-color);
  opacity: 0.8;
  z-index: 100;
  transition: all 0.4s;
}

.nav-icon.close .bar:first-of-type {
  transform: rotate(45deg);
}
.nav-icon.close .bar:nth-of-type(2) {
  display: none;
}
.nav-icon.close .bar:last-of-type {
  transform: translateY(-7px) rotate(-45deg);
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100vh;
    opacity: 1;
  }
}

.navigation {
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  z-index: 10;
  animation: 0.5s slideDown linear forwards;
}

.navigation ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav-link:link,
.nav-link:visited {
  color: var(--light-text-color);
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.hidden {
  display: none;
}

/* HEADER */
header {
  padding: 100px 6% 25px 6%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  gap: 60px;
  text-align: center;
}

.avatar-container svg {
  width: 200px;
  height: 200px;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

h1 {
  background: linear-gradient(90deg, #9975e6 0%, #96c6ea 60%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3rem;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 2px;
  margin-top: 6px;
  margin-bottom: 16px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
}

.btn {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 28px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s ease-in;
  border: none;
  font-size: 15px;
  font-weight: 700;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.btn-main {
  color: #fff;
  background-color: var(--primary-color);
  text-align: center;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 5px 0px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
  min-width: 171.55px;
}

.btn-main span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-main span:after {
  content: '↓';
  position: absolute;
  opacity: 0;
  top: -2px;
  right: -15px;
  transition: 0.5s;
}

.btn-main:hover span {
  padding-right: 15px;
}

.btn-main:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-inverted {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-inverted:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-inverted:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.08s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-inverted:hover {
  color: #ffffff;
}

.btn-inverted:hover:before {
  top: -35%;
  background-color: var(--primary-color);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-inverted:hover:after {
  top: -45%;
  background-color: var(--primary-color);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* MAIN */
main {
  padding: 0 6%;
}

.title {
  margin-bottom: 45px;
}

.title p {
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

section .title h2.bounce-top::after {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

h2 {
  font-size: 1.953rem;
  letter-spacing: 0.02em;
  position: relative;
  margin-bottom: 30px;
}

section .title h2::after {
  content: url("data:image/svg+xml,%3Csvg width='180' height='70' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M0 0h180v100H0z'/%3E%3Cpath d='M0 50h0c6.043-2.566 12.087-5.132 17-5 4.913.132 8.697 2.962 14 5 5.303 2.038 12.125 3.283 18 2s10.801-5.096 16-7 10.67-1.9 16 0 10.522 5.697 16 8 11.244 3.112 17 1 11.502-7.143 17-7c5.498.143 10.75 5.462 16 6 5.25.538 10.5-3.703 16-5 5.5-1.297 11.25.352 57 2' fill='none' stroke='%2386adc9' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0;
}

.skills .title h2::after {
  content: url("data:image/svg+xml,%3Csvg width='100' height='70' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M0 0h180v100H0z'/%3E%3Cpath d='M0 50h0c6.043-2.566 12.087-5.132 17-5 4.913.132 8.697 2.962 14 5 5.303 2.038 12.125 3.283 18 2s10.801-5.096 16-7 10.67-1.9 16 0 10.522 5.697 16 8 11.244 3.112 17 1 11.502-7.143 17-7c5.498.143 10.75 5.462 16 6 5.25.538 10.5-3.703 16-5 5.5-1.297 11.25.352 57 2' fill='none' stroke='%2386adc9' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
}
.projects .title h2::after {
  content: url("data:image/svg+xml,%3Csvg width='150' height='70' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M0 0h180v100H0z'/%3E%3Cpath d='M0 50h0c6.043-2.566 12.087-5.132 17-5 4.913.132 8.697 2.962 14 5 5.303 2.038 12.125 3.283 18 2s10.801-5.096 16-7 10.67-1.9 16 0 10.522 5.697 16 8 11.244 3.112 17 1 11.502-7.143 17-7c5.498.143 10.75 5.462 16 6 5.25.538 10.5-3.703 16-5 5.5-1.297 11.25.352 57 2' fill='none' stroke='%2386adc9' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
}

section.skills,
section.projects {
  padding-top: 60px;
  padding-bottom: 40px;
}

section.about {
  padding-top: 40px;
  padding-bottom: 40px;
}

section.about .title {
  margin-bottom: 30px;
}

section.about p {
  line-height: 26px;
  text-align: justify;
}

section.about p:not(:last-of-type) {
  margin-bottom: 15px;
}

.skills-list {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.skills-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  text-align: center;
  background-color: var(--secondary-bg-color);
  border-radius: 6px;
  padding: 25px 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}

.skills-list img {
  width: 32px;
  height: auto;
  filter: invert(76%) sepia(9%) saturate(962%) hue-rotate(162deg) brightness(93%) contrast(90%);
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;
}

.card {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 16px;
}

.card-image {
  overflow: hidden;
  position: relative;
  min-width: 320px;
  max-width: 600px;
}

.card-image > img {
  width: 100%;
  height: auto;
}

.card-text {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: max-content;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.project-description {
  line-height: 1.3rem;
  text-align: center;
}

.card-details {
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.card-details h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 6px;
}

.card-details ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: center;
  font-size: 16px;
  color: var(--primary-color);
}

.card-button-group {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.btn-filled {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-weight: 600;
  position: relative;
  color: var(--secondary-color);
}

.btn-filled::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--tertiary-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.btn-filled::before {
  position: absolute;
  content: 'VIEW CODE';
  width: 0%;
  inset: 0;
  color: var(--tertiary-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.btn-filled.btn-demo::before {
  content: 'LIVE DEMO';
}

.btn-filled:hover::after {
  width: 100%;
}

.btn-filled:hover::before {
  width: 100%;
}

.more-projects {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  margin: 60px auto 0 auto;
  width: 220px;
}

.more-projects a:link,
.more-projects a:visited {
  text-decoration: underline;
  color: var(--light-text-color);
  transition: all 0.2s;
}

/* FOOTER */
footer {
  background-color: var(--secondary-bg-color);
  padding: 40px 6% 35px 6%;
}

.contact-text {
  text-align: center;
}

.contact-text h2 {
  margin-bottom: 20px;
  font-size: 1.953rem;
}

.btn-cta:link,
.btn-cta:visited {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cta-icon {
  font-size: 1.563rem;
  margin-left: 12px;
}

.btn-cta:hover .btn-cta-icon,
.btn-cta:active .btn-cta-icon {
  animation-name: move;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.btn-cta:hover,
.btn-cta:active {
  filter: brightness(110%);
}

@keyframes move {
  0% {
    translate: 0 0;
  }

  50% {
    translate: 15px 0;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 35px;
  border-top: 1px solid rgba(251, 251, 251, 0.25);
}

.footer-nav .logo {
  color: rgba(251, 251, 251, 0.5);
  font-size: 16px;
}

.footer-nav .logo span {
  font-family: 'La Belle Aurore', cursive;
  font-size: 20px;
  color: rgba(251, 251, 251, 0.7);
}

.copyright {
  color: rgba(251, 251, 251, 0.7);
  font-size: 13px;
}

/* Back to top button animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  opacity: 0.6;
  transition: all 0.2s;
}

.back-to-top.hide {
  display: none;
}

.back-to-top.show {
  display: block;
  animation: fadeIn 1s;
}

.back-to-top.show:hover {
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  section.about {
    padding-bottom: 50px;
  }

  section.about p {
    text-align: left;
  }

  section.divider {
    border-bottom: none;
    padding-top: 100px;
    padding-bottom: 84px;
  }

  .introduction p:last-of-type {
    max-width: 520px;
    margin: 0 auto;
  }

  .more-projects {
    width: 100%;
  }

  footer {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  nav {
    padding: 30px 13%;
  }

  .logo-container {
    top: 27%;
    left: 13%;
  }

  .nav-icon {
    display: none;
  }

  .navigation {
    position: relative;
    background-color: transparent;
    height: max-content;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 0.8rem;
    animation: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 10px;
  }

  .navigation ul {
    flex-direction: row;
    gap: 40px;
  }

  .nav-link:hover {
    transition: all 0.3s;
    color: var(--tertiary-color);
  }

  .social-links {
    padding-top: 0;
  }

  .social-icon {
    width: 24px;
    height: 24px;
  }

  .social-links a {
    transition: all 0.1s;
  }

  header {
    padding: 80px 13% 40px 13%;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    row-gap: 45px;
    text-align: left;
  }

  .avatar-container {
    grid-area: 1 / 2 / 3 / 3;
    justify-self: center;
  }

  .avatar-container svg {
    width: auto;
    height: auto;
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 22px;
    max-width: 500px;
  }

  .introduction p:last-of-type {
    max-width: 468px;
    margin: 0;
  }

  .introduction {
    margin: 0;
    justify-self: start;
  }

  main {
    padding: 0 13%;
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in-right {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }

  .slide-in-left {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }

  .skills-list li {
    transition: all 0.4s;
  }

  .skills-list li:hover {
    transform: scale(1.05);
  }

  section.about {
    padding-bottom: 80px;
  }

  section.about p {
    line-height: 30px;
  }

  .cards-container {
    row-gap: 100px;
  }

  .card {
    grid-template-columns: repeat(2, auto);
    opacity: 0;
    gap: 50px;
  }

  .card.from-left .card-image {
    order: 2;
  }

  .card.from-left .card-text {
    order: 1;
  }

  .card-text {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }

  .project-description {
    text-align: left;
  }

  .card-details {
    text-align: left;
  }

  .card-details ul {
    justify-content: flex-start;
  }

  .card-button-group {
    justify-content: flex-start;
  }

  .more-projects {
    margin-top: 80px;
  }

  .more-projects a:hover {
    color: var(--tertiary-color);
  }

  footer {
    padding: 80px 13% 35px 13%;
  }

  .contact-text {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-text h2 {
    margin-bottom: 0;
  }

  .btn-cta:link,
  .btn-cta:visited {
    padding: 12px 24px;
  }

  .btn-cta-icon {
    margin-bottom: 5px;
  }

  .footer-nav {
    grid-area: 2 / 1 / 3 / 3;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1400px) {
  nav,
  footer {
    padding-left: 18%;
    padding-right: 18%;
  }

  .logo-container {
    left: 18%;
  }

  header,
  main {
    max-width: 1900px;
    margin: 0 auto;
    padding-left: 18%;
    padding-right: 18%;
  }

  h1 {
    font-size: 3.15rem;
  }

  .avatar-container svg {
    width: 300px;
    height: 300px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .slide-in-right,
  .slide-in-left {
    -webkit-animation: none;
    animation: none;
  }

  .card {
    opacity: 1;
  }
}
